{% extends "base.html" %}

{% block title %}
    Home
{% endblock %}

{% block content %}
    <h1>Hey</h1>
    <p>Meager list of pages:</p>
    <p>
        <a href="http://bananas.applepeacock.com">Bananas!</a>
    </p>
    <p>
        <a href="http://art.applepeacock.com">Art</a>
    </p>
    <p>
        <a href="http://aphelion.applepeacock.com">Aphleion (Website from CS401)</a>
    </p>
    <p>
        <a href="/42-butterflies">42 Butterflies</a>
    </p>
    <p>
        <a href="http://github.com/lazymeadow">GitHub</a>
    </p>

    <p style="font-size: .8em">
        audreymccormick@outlook.com
    </p>
{% endblock %}
