{% extends "base.html" %}

{% block title %}
    Home
{% endblock %}

{% block content %}
    <header class="header">
        <h1>Hey</h1>
    </header>
    <main class="content">
        <p>
            <a href="https://chat.audreywiltsie.com" target="_blank">Best Evar Chat Test Server</a>
        </p>
        <p>
            <a href="https://chatalina.net" target="_blank">Chatalina - E2E encrypted chat</a>
        </p>
        <p>
            <a href="https://aphelion.applepeacock.com" target="_blank">Aphleion (Website from CS401)</a>
        </p>
        <p>
            <a href="/42-butterflies" target="_blank">42 Butterflies</a>
        </p>
        <p>
            <a href="/Naturally" target="_blank">HTML 5 Video Player</a>
        </p>
        <p>
            <a href="/jconsole" target="_blank">JavaScript Console</a>
        </p>
        <p>
            <a href="https://farm.applepeacock.com" target="_blank">Ask For It (Grocery List)</a>
        </p>
        <hr/>
        <p>
            <a href="http://github.com/lazymeadow" target="_blank">GitHub</a>
        </p>
        <p>
            <a href="https://www.linkedin.com/in/audreywiltsie/" target="_blank">LinkedIn</a>
        </p>
        <p>
            <a href="{{ url_for('static', filename='Wiltsie_Resume.pdf') }}" target="_blank">Resume</a>
        </p>
        
        <p style="font-size: .8em">
            audreywiltsie@outlook.com
        </p>
    </main>
{% endblock %}
